@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

ul,
ol {
  list-style: none;
}

.footer-body-item-header {
  color: #000;
  /* h3 */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-info-listitem-img {
  width: 15px;
  height: 15px;
}

.contact-info-listitem-text {
  color: var(--grey, #999);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  text-decoration: none;
}

.copyright {
  color: var(--grey, #999);
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%; /* 20.601px */
}
.copyright::before {
  content: "";
  display: block;
  background-color: #999;
  height: 1px;
  width: 100%;
}

.footer-body {
  display: flex;
  justify-content: space-around;
}

.nav-list {
  display: flex;
  justify-content: end;
  width: 100%;
}

.nav-list-item {
  position: relative;
  color: #fff;
}
.nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.nav-list-item::after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  transition: background-color 0.3s linear;
}
.nav-list-item:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: absolute;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #a1a1a1;
}

.main-header {
  position: relative;
  background: url(../../assets/img/back.webp);
}

.hero {
  text-align: center;
  align-items: center;
  margin-top: 220px;
  margin-bottom: 320px;
}

.good-studio {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero h1 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 134.09%;
  width: 829px;
  margin: 0 auto;
}

.portfolio {
  align-items: center;
  text-align: center;
}

.portfolio h2 {
  color: #323232;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%; /* 52.661px */
}

.lorem-info {
  color: #999;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%; /* 25.355px */
}

.portfolio-list-item {
  text-align: start;
}

.portfolio {
  padding-bottom: 120px;
  padding-top: 110px;
}

.lorem-info-portfolio {
  margin-bottom: 80px;
  margin-top: 30px;
}

.portfolio-list {
  margin-bottom: 50px;
}

.high-work {
  align-items: center;
  text-align: center;
  background-color: #f6f6f8;
  justify-content: space-around;
}

.high-work-img {
  width: 500px;
  height: 400px;
}

.good-work-heading {
  color: #323232;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%;
  width: 424px;
}

.high-wrok-lorem-info {
  color: #999;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  width: 489px;
}

.high-work-text-box {
  align-items: center;
  text-align: start;
  text-indent: 0;
  white-space: pre-wrap;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-start;
}

.image-and-text {
  padding: 150px 295px;
}

.image-and-text {
  border-bottom: 1px solid #999;
}

.our-project-list-item img {
  width: 30px;
  height: 30px;
}

.first-line {
  display: flex;
  align-items: baseline;
}

.second-line p {
  color: #999;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%; /* 25.355px */
}

.our-project-list {
  padding: 0;
  display: flex;
  justify-content: center;
}

.projects-count {
  color: #323232;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.28%;
  margin-left: 20px;
}

.our-project-list li {
  display: inline;
}

.our-project-list li:not(:last-child) {
  margin-right: 100px;
}

.our-projects {
  background: #F6F6F8;
  padding: 70px 0;
}

.h2-button-spec {
  display: flex;
  justify-content: space-around;
}

.our-spec-heading {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%;
  width: 540px;
}

.our-spec-but {
  height: 45px;
}

.our-spec-list-item-img {
  width: 350px;
  height: 300px;
  border-radius: 15px;
}

.our-spec-list {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.our-spec-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-spec-list-item-text-box-h3 {
  color: #323232;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.our-spec-list-item-text-box-h3 span {
  color: var(--Accent, #4985ff);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.our-spec-list-item-text-box-lorem-info {
  color: #999;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  width: 350px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.our-spec-list-item-text-box-a {
  color: var(--Accent, #4985ff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.our-spec {
  background: rgb(95, 18, 208);
  background: linear-gradient(180deg, rgb(95, 18, 208) 48%, rgb(255, 255, 255) 50%);
  padding-bottom: 85px;
  border-bottom: 1px solid #999;
}

.our-projects-2 {
  margin-top: 185px;
  padding-bottom: 130px;
  background: #F6F6F8;
  text-align: center;
}

.our-projects2-h2 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%;
}

.our-projects2-lorem-info {
  color: #999;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  width: 730px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 92px;
}

.our-projects2-list {
  display: flex;
  justify-content: center;
}

.our-projects2-list-item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 50px;
}

.our-projects2-button {
  margin: 0 auto;
  width: 200px;
}

.rozsilka-search-input {
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
  width: 479px;
  height: 45px;
}

.rozsilka {
  padding-top: 85px;
  padding-bottom: 85px;
  align-items: center;
  text-align: center;
}

.search-rozsilka {
  width: 489px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.rozsilka-search-input {
  width: 299px;
  height: 45px;
  border-radius: 30px 0px 0px 30px;
  padding-left: 39px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.rozsilka-search-button {
  background: var(--Accent, #4985ff);
  width: 190px;
  height: 45px;
  border-radius: 0px 30px 30px 0px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  left: 290px;
  bottom: 0;
}

.search-rozsilka {
  margin-bottom: 35px;
}

.rozsilka-header {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rozsilka-text-korisni-statti {
  color: var(--grey, #999);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.rozsilka {
  width: 100%;
}

.rozsilka-we-dont-send-spam {
  color: var(--grey, #999);
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
}

.rozsilka-text-box {
  width: 737px;
}

.container-rozsilka {
  width: 760px;
  padding: 0 15px;
  margin: 0 auto;
}

.our-video {
  position: relative;
  padding: 70px 0px 420px 0px;
  background-image: url("https://s3-alpha-sig.figma.com/img/fd76/a69b/0746f16a225bfa607b82c9ce1286212a?Expires=1695600000&Signature=kfpVuqVsXJphVasqBuIfh6UswVQWxwQo2bs6Sumn4rUMTnOzXRDzZ3xXyGhNAcJQYuIGg1SR1vtqTdAyvTr0HsqI3Ud4lC4kapYc0kemyqNJrmQnKaEtMd4TjNA8PH7RIp7MWxXDOQQXnk0i0OmBiId8Vz7ELmoBHCGs8yRksCCGDeWU26j7BIiiLVXj6~4LtvuEEasWy0TK~TP-0asaRCm3rUHT7K2GyKGEErQSqScXT6LiJCzpxiTVoHMqEyHHnJ14r5bzariuqfR~Mxum8rgq4ljK84-6OYuaggdwt2mL2zwWEz-G9Ris9CamFyATIkpJXsej8mYPGGd0-p8BCw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.our-video-play-button {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 158.47%;
}

.our-video-player {
  top: 50%;
  right: 50%;
  position: absolute;
  padding: 165px 0;
  width: 970px;
  height: 430px;
  background: url("https://s3-alpha-sig.figma.com/img/ec75/9987/c976e0276c592ca591ac3c7c286c4173?Expires=1695600000&Signature=nV-oi1MDIE5H6WykMAM~AgSgD-z~MeubyD0cn3JiEFnjsNJD0UZF~r2kzqpMB5PKPYOmXmC5y1PVUUlXBD~Sq7POGg0NZLT27VJP01AlsgsopwD37fwm~GCmU~haLZ2C57Uv4thE6q8dBx2HDrUKTS7cZhcly7-XwCBSx95rNWmKplJrln63UMpw051zYnnuSEeP8I9Q80Hk5P5z4kvAIOfhi8GbjSxuBU0eJAwq-g9kjUcvifv5XJRecCqbIWYOIc-VRcBmbCOWwBWh3WXt5MKVgbpbHxcOh97SwpYCpCGSjG0m69Ool6hiVdCj1Hd7pziYc8WYXdX1Toq9pYshEA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  transform: translate(50%, -15%);
  border-radius: 10px;
  /* Shadow */
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
}

.our-video-player {
  position: absolute;
}

.play-button {
  width: 60px;
  height: 60px;
  background: rgb(0, 136, 255);
  border-radius: 30px;
}

.rozsilka {
  margin-top: 170px;
}