.nav-list {
  display: flex;
  justify-content: end;
  width: 100%;
}

.nav-list-item {
  color: #000001;
}
.nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.nav-list-item::after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  transition: background-color 0.3s linear;
}
.nav-list-item:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #000001;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #a1a1a1;
}

* {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}