.nav-list {
    display: flex;
    justify-content: end;
    width: 100%;
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     display: block;
    //     width: 100%;
    //     height: 2px;
    //     background-color: $header-down-line;
    //     margin-top: 25px;
    //     margin-right: 0;
    //   }
  }
  .nav-list-item {
    position: relative;
    color: $text-color;
    &:not(:last-child) {
      margin-right: 40px;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      background-color: #00000000;
      width: 100%;
      transition: background-color 0.3s linear;
    }
    &:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: $text-color;
      position: absolute;
    }
  }
  .header {
    &::after {
      content: "";
      position: absolute;
      // display: block;
      width: 100%;
      height: 2px;
      background-color: $header-down-line;
    }
  }
  .main-header{
    position: relative;
    background: url(../../assets/img/back.webp);
  }