.hero{
    text-align: center;
    align-items: center;
}
.good-studio {
  color: $text-color;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.we-did-easy {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 134.09%;
  width: 829px;
}
