.high-work {
  align-items: center;
  text-align: center;
  background-color: #f6f6f8;
  justify-content: space-around;
}

.high-work-img {
  width: 500px;
  height: 400px;
}

.good-work-heading {
  color: $dark;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%;
  width: 424px;
}

.high-wrok-lorem-info {
  //   display: inline-flex;
  // align-items: start;
  // width: 489px;
  // height: 85px;
  // margin: 0;
  // padding: 0;
  // flex-direction: column;
  // justify-content: center;
  // align-content: flex-end;
  // align-items: flex-start;
  color: $grey;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  width: 489px;
}

.high-work-text-box {
  align-items: center;
  text-align: start;
  text-indent: 0;
  white-space: pre-wrap;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-start;
}

.image-and-text {
  padding: 150px 295px;
}
.image-and-text{
  border-bottom: 1px solid $grey;
}
// .high-work::after{
//   content: "";
//   display: block;
//   height: 2px;
//   background-color: rgb(0, 0, 0);
//   width: 100%;
// }