.our-project-list-item img {
  width: 30px;
  height: 30px;
}
.first-line {
  display: flex;
  align-items: baseline;
}
.second-line p {
  color: $grey;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%; /* 25.355px */
}

.our-project-list {
  padding: 0;
  display: flex;
  justify-content: center;
}
.projects-count {
  color: $dark;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.28%;

  margin-left: 20px;
}

.our-project-list li {
  display: inline;
}
.our-project-list li:not(:last-child) {
  margin-right: 100px;
}
.our-projects{
  background: #F6F6F8;
  padding: 70px 0;
}