.our-video {
  position: relative;
  padding: 70px 0px 420px 0px;
  background-image: url("../../assets/img/backgorund-our-vid.png");
}
.our-video-play-button {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //   display: inline;
  color: white;
  // typogryfy
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 158.47%;
}

.our-video-player {
  top: 50%;
  right: 50%;
  position: absolute;
  padding: 165px 0;
  width: 970px;
  height: 430px;
  background-image: url("../../assets/img/city-baxkgorund_vid_.png");
  transform: translate(50%, -15%);
  border-radius: 10px;
  /* Shadow */
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  // shadow
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
}
.our-video-player {
  position: absolute;
}
.play-button {
  width: 60px;
  height: 60px;
  background: rgb(0, 136, 255);
  border-radius: 30px;
}
.our-video-play-button{
  border: 2px solid rgb(35, 34, 34);

}

.rozsilka {
  margin-top: 170px;
}
