.rozsilka-search-input {
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
  width: 479px;
  height: 45px;
}
.rozsilka {
  padding-top: 85px;
  padding-bottom: 85px;
  align-items: center;
  text-align: center;
}

.search-rozsilka {
  width: 489px;
  display: flex;
  align-items: center;
  // justify-content: center;
  // display: block;
  margin: 0 auto;
  position: relative;
}

.rozsilka-search-input {
  width: 299px;
  height: 45px;
  border-radius: 30px 0px 0px 30px;
  padding-left:39px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.rozsilka-search-button {
  background: var(--Accent, #4985ff);
  width: 190px;
  height: 45px;
  border-radius: 0px 30px 30px 0px;

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;

  left: 290px;
  bottom: 0;
}
.search-rozsilka {
  margin-bottom: 35px;
}

.rozsilka-header {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rozsilka-text-korisni-statti {
  color: var(--grey, #999);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.rozsilka {
  width: 100%;
}
.rozsilka-we-dont-send-spam{
  color: var(--grey, #999);
text-align: center;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 158.47%;
}
.rozsilka-text-box{
  width: 737px;
}
.container-rozsilka{
  width: 760px;
  padding: 0 15px;
  margin: 0 auto;
}